SECRET_KEY=0000111122223333444455556666777788889999aaaabbbbccccddddeeeeffff
SQLALCHEMY_DATABASE_URI=postgresql://user:password@localhost:5432/notes.db
ECHO=0
SQLALCHEMY_TRACK_MODIFICATIONS=0
SESSION_COOKIE_HTTPONLY=1
SESSION_COOKIE_SAMESITE=Lax
PERMANENT_SESSION_LIFETIME=3600